.container {
    width: 540px;
    margin: 40px auto;
    overflow: hidden;
}

.slide-inner {
    width: 500px;
    height: 300px;
    position: relative;
    overflow: hidden;
    padding: 3px;
    border: 1px solid #666;
    float: left;
}

.slide-inner img {
    width: 500px;
    height: 300px;
    display: none;
}

.slide-inner img.active {
    display: inline-block;
}

.prev, .next {
    float: left;
    margin-top: 130px;
    cursor: pointer;
    background: #666;
    color: #fff;
    padding: 15px;
}

.prev {
    position: relative;
    z-index: 100;
    margin-right: -45px;
}

.next {
    position: relative;
    margin-left: -37px;
    z-index: 100;
}